<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            font-size: 36;
        }
    </style>
</head>
<body>
    <h1>Hello 一切測試中～～＠＠！</h1>
    <ul>
        <li><a href="map">map page</a></li>
        <li><a href="analysis">analysis page</a></li>

        <li><a
                href="box?bbox=((24.92439998680624, 121.39618537862114), (25.21578624967735, 121.81847236592583))">kde</a>
        </li>
        <li><a href="dataImg?id=7_17_2">mor</a></li>
        <li><a
                href="curve?polyline=sfbwCwaxcVDAF?JB`DtAfAf@f@RRLPFTLRFXHH@fAPLDRDD@lA`@d@JbATTFf@HfEf@rANd@BdC?X@hBB\\?NANCHC^Ox@[FEBEFIBGDQFu@'">curve</a>
        </li>
        <li><a
                href="dangerous?polyline=sfbwCwaxcVDAF?JB`DtAfAf@f@RRLPFTLRFXHH@fAPLDRDD@lA`@d@JbATTFf@HfEf@rANd@BdC?X@hBB\\?NANCHC^Ox@[FEBEFIBGDQFu@">dangerous</a>
        </li>
        <li><a href="summary">summary</a></li>
    </ul>
</body>
</html>